:root {
	color-scheme: dark;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #0b0d10;
}

#app-canvas {
	display: block;
	width: 100vw;
	height: 100vh;
}
